@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --rp-c-brand: hsl(229, 100%, 62%);
  --rp-c-brand-dark: hsl(229, 63%, 4%);
  --rp-c-brand-darker: hsl(229, 28%, 25%);
  --rp-c-brand-light: hsl(229, 100%, 62%);
  --rp-c-brand-lighter: hsl(229, 20%, 90%);
  --rp-c-link: var(--rp-c-brand);
  --rp-c-brand-tint: hsla(229, 100%, 62%, 0.15);
  --rp-code-title-bg: hsla(229, 100%, 62%, 0.15);
  --rp-code-block-bg: hsla(229, 100%, 62%, 0.05);
  --rp-custom-block-info-bg: hsla(229, 100%, 62%, 0.05);
  --rp-custom-block-info-border: hsla(229, 100%, 62%, 0.5);
  --btn-text: #fff;
}

.dark {
  /* Dark theme */
  --rp-c-brand: hsl(160, 100%, 57%);
  --rp-c-brand-dark: hsl(160, 100%, 57%);
  --rp-c-brand-darker: hsl(216, 28%, 22%);
  --rp-c-brand-light: hsl(210, 17%, 82%);
  --rp-c-brand-lighter: hsl(216, 28%, 65%);
  --rp-c-link: var(--rp-c-brand);
  --rp-c-brand-tint: hsla(210, 17%, 82%, 0.15);
  --rp-code-title-bg: hsla(210, 17%, 82%, 0.15);
  --rp-code-block-bg: hsla(210, 17%, 82%, 0.05);
  --rp-custom-block-info-bg: hsla(210, 17%, 82%, 0.05);
  --rp-custom-block-info-border: hsla(210, 17%, 82%, 0.5);
  --btn-text: #000;
}
