@layer base {
  /* github dark default */
  :root {
    --background: var(--rp-c-bg);
    --foreground: var(--rp-c-text-1);
    --muted: var(--rp-c-text-2);
    --muted-foreground: var(--rp-c-text-3);
    --popover: var(--rp-c-bg-2);
    --popover-foreground: var(--rp-c-text-1);
    --card: var(--rp-c-bg-2);
    --card-foreground: var(--rp-c-text-1);
    --border: var(--rp-c-bg-mute);
    --input: var(--rp-c-bg-2);
    --primary: var(--rp-c-brand);
    --primary-foreground: var(--rp-c-text-1);
    --secondary: var(--rp-c-brand-light);
    --secondary-foreground: var(--rp-c-text-1);
    --accent: var(--rp-c-link);
    --accent-foreground: var(--rp-c-text-1);
    --destructive: var(--rp-c-red);
    --destructive-foreground: var(--rp-c-text-1);
    --ring: var(--rp-c-brand);
    --radius: var(--rp-radius);
  }
}

@tailwind base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
